<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <data-source>
        <name>java:app/jdbc/jakartaee-poc</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <!-- <server-name>localhost</server-name> -->
        <!-- <port-number>1527</port-number> -->
        <url>jdbc:h2:mem:jakartaee-poc</url>
        <!-- <database-name>jakartaee-poc</database-name> -->
        <!-- <user>APP</user> -->
        <!-- <password><![CDATA[secret]]></password> -->
    </data-source>

</web-app>